<div class="container">
  <% if @tag %>
    <p>Tag: <%= @tag %></p>
    <%= link_to "Clear", all_gifs_path, remote: true %>
  <% end %>
  <% if @by_user %>
    <p>By user: <%= params[:username] %></p>
    <%= link_to "Clear", all_gifs_path, remote: true %>
  <% end %>
  <% gifs.each_slice(4) do |row| %>
    <div class="row top-margin">
      <% row.each do |gif| %>
        <div class="col-md-3">
          <!-- Each gif is a link to its modal -->
          <a href="#gif-<%= gif.id %>-modal" data-toggle="modal" data-target="#gif_<%= gif.id %>_modal">
            <% if gif.local_gif.blank? %>
              <%= image_tag(gif.gif_url, class: 'img-responsive') %>
            <% else %>
              <%= image_tag(gif.local_gif, class: 'img-responsive') %>
            <% end %>
          </a>
          <p class="gif_<%= gif.id %>_likes">Total Likes: <%= gif.get_likes.size - gif.get_dislikes.size %></p>
          <!-- Modal for each gif -->
          <div class="gifShowContainer">
            <%= render partial: 'gifs/show', layout: 'shared/modal', locals: { id: 'gif_' + gif.id.to_s + '_modal', gif: gif, title: gif.title } %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <%# paginate @gifs %>
</div>
