<div class="text-center center-block">
  <% if gif.local_gif %>
    <%= image_tag(gif.local_gif, class: 'img-responsive') %>
  <% else %>
    <%= image_tag(gif.gif_url, class: 'img-responsive') %>
  <% end %>  <br>
  <p>
    URL:
    <% if gif.local_gif.blank? %>
      <%= link_to image_url(gif.gif_url), image_url(gif.gif_url) %>
    <% else %>
      <%= link_to image_url("https://s3.amazonaws.com/thinkgifferently/gifs/#{gif.local_gif}"),
      "https://s3.amazonaws.com/thinkgifferently/gifs/#{gif.local_gif}" %>
    <% end %>
  </p>
  <p>
    Uploaded <%= time_ago_in_words(gif.created_at) %>
    by <%= link_to gif.user.username, by_user_path(username: gif.user.username), remote: true %>
  </p>
  <p>Tags:
    <% gif.tags.each do |tag| %>
      <%= link_to "#{tag}", tagged_path(:tag => tag.name), remote: true %>
    <% end %>
  </p>
  <p class="gif_<%= gif.id %>_likes">Total Likes: <%= gif.cached_votes_score %></p>
  <%# if current_user %>
    <%= render partial: 'like_buttons', locals: { gif: gif } %>
  <%# end %>
</div>
