<div class="text-center">
  <%= image_tag(gif.image_file, class: 'img-responsive gif-center') %>
  <br>
  <p>URL: <%= link_to image_url(gif.image_file), image_url(gif.image_file) %></p>
  <p>
    Uploaded <%= time_ago_in_words(gif.created_at) %>
    by <%= link_to gif.user.username, by_user_path(username: gif.user.username), remote: true %>
  </p>
  <p>Tags:
    <% gif.tags.each do |tag| %>
      <%= link_to "#{tag}", tagged_path(:tag => tag.name), remote: true %>
    <% end %>
  </p>
  <p class="gif_<%= gif.id %>_likes">Total Likes: <%= gif.cached_votes_score %></p>
  <%# if current_user %>
    <%= render partial: 'like_buttons', locals: { gif: gif } %>
  <%# end %>
</div>
