<!DOCTYPE html>
<html>
<head>
  <title>ThinkGifferently</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="wrapper">
    <div id="navWrapper">
      <%= render partial: 'shared/nav' %>
    </div>
    <%= yield %>
  </div>

  <div id="footer"></div>

  <!-- Login and Sign Up modals -->
  <%= render partial: 'shared/login_modal', locals: { user_session: @user_session } %>
  <%= render partial: 'shared/signup_modal', locals: { user: @user } %>
  <%= render partial: 'gifs/form_modal' %>

</body>
</html>
