<!DOCTYPE html>
<html>
<head>
  <title>ThinkGifferently</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="wrapper">

    <div id="navWrapper">
      <%= render partial: 'shared/nav' %>
    </div>

    <!-- Show flashes if they exist -->
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>
  </div>

  <div id="footer"></div>

  <!-- Modals -->
  <%= render partial: 'gifs/new_gif_form', layout: 'shared/modal', locals: { id: "newGifModal" } %>
  <%= render partial: 'shared/login_form', layout: 'shared/modal', locals: { id: 'loginModal' } %>
  <%= render partial: 'shared/signup_form', layout: 'shared/modal', locals: { id: 'signupModal' } %>

</body>
</html>
